.gradle/
build/
local.properties
androidApp/google-services.json
.env
.env.*
.idea/
.kotlin/
*.iml
.DS_Store
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
keystore.properties
*.jks
*.keystore
dist/
release/
.jdk17/
.tools/
